@model HostWithLocalAuth.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form asp-action="Login" method="post">
        <input asp-for="ReturnUrl" type="hidden"/>
        <h2>Username</h2>
        <input asp-for="Username"/>
        <h2>Password</h2>
        <input asp-for="Password"/>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>